<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.webServer>
		<directoryBrowse enabled="false" />

		<defaultDocument>
			<files>
				<!-- Specify the default document you want to use (e.g., index.html, default.aspx, etc.) -->
				<add value="wwwroot" />
				<!-- You can add more options here, like default.aspx if necessary -->
				<!-- <add value="default.aspx" /> -->
			</files>
		</defaultDocument>
	</system.webServer>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>