/* Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

/* Header */
header {
    background-color: rgb(79, 4, 51);
    color: white;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

  header img {
      height: 80px;
  }
  
  header nav {
    position: absolute;
    left: 50%; /* Position it in the middle horizontally */
    transform: translateX(-50%); /* Adjust its position by half of its own width */
    margin: 0;
    color: white;
  }

  header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

  header nav ul li a {
    background-color: rgb(79,4,51);
    color: white;
    text-decoration: none;
    border: 1px solid transparent;
    cursor: pointer;
    padding-top: 40px;
    padding-bottom: 39px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
}

  header nav ul li a:hover{
    background-color: white;
    color: rgb(79,4,51);
    height: 100px;
}

/* Main */
main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

.title {
  color: rgb(79, 4, 51);
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

.disclaimer-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid black;
  margin-bottom: 20px;
}

.title-disclaimer {
  color: black;
  margin: 0px;
  margin-bottom: 20px;
}

.text-disclaimer {
  font-weight: 300;
  margin: 0;
}

.text-about {
  width: 100%;
  font-weight: 300;
  margin: 0;
  margin-bottom: 20px;
}

.text-about-title {
  color: rgb(79, 4, 51);
  width: 100%;
  font-weight: 600;
  margin: 0;
}

.text-contact {
  font-weight: 300;
  margin: 0;
  margin-bottom: 20px;
}

.text-do-not-agree {
  font-weight: 300;
  margin: 0;
  margin-bottom: 20px;
}

/* Buttons */
.button-container {
    display: flex;         
    gap: 10px;             
    align-items: center;  
    margin: 10px; 
  }

.primary-button {
    background-color: rgb(79,4,51);
    color: white;
    padding: 10px 20px;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

    .primary-button:hover {
        background-color: white;
        color: rgb(79,4,51);
        border: 1px solid rgb(79, 4, 51);
    }

/* Checkbox */
input[type="checkbox"] {
    cursor: pointer;  
  }

input[type="checkbox"]:checked {
    accent-color: black;  
    border-color: #000;  
  }

label {
  font-size: 20px;
}

/* Calculator */
.input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0px;
    align-items: center;
  }
  
.input-container label {
    font-size: 16px;
  }
  
.input-container input {
    padding: 10px;
    font-size: 16px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

/* ------------ remove up/down arrows */
input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
    -webkit-appearance: none;   /* Chrome, Safari, and Opera */
    appearance: none;           /* Standard syntax */
  }

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;  
    margin: 0;                  
  }
  
input[type="number"]::-ms-clear {
    display: none;  
  }

.input-line {
    display: flex;
    gap: 10px;
    align-items: center;
  }

.error-container {
    display: flex;
    justify-content: center;
    color: red;
  }

.result-container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  padding: 20px;
}

.visible {
  border: 1px solid black;
}

.text-result-title {
  margin: 0px;
  margin-bottom: 20px;
  text-align: center;
}

.text-result {
  margin: 0px;
  font-weight: 100;
}
